.feedback-content {
  margin-top: 110px;
}

.feedback-row {
  margin-bottom: 30px;
}

.section-title {
  font-size: 30px;
}

.img-content {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 16px;
}

.card-text {
  font-size: 14px;
  opacity: 0.7;
}

.card-text-feedback {
  opacity: 0.85;
}

.list-group-item {
  font-size: 12px;
  color: #fdd836;
}

.star-color {
  color: #fdd836;
}

.time-feedback {
  font-size: 14px;
  color: rgb(151, 141, 141);
}

.card-stadium {
  padding-top: 22px;
  height: 100%;
}

/* .user-feedback {
  overflow-y: scroll;
} */

/* .user-feedback::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.user-feedback::-webkit-scrollbar {
  width: 4px;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#4d9c41),
    to(#19911d),
    color-stop(0.6, #54de5d)
  );
}

.user-feedback::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#4d9c41),
    to(#19911d),
    color-stop(0.6, #54de5d)
  );
} */

.btn-success,
.btn-secondary,
.btn-warning {
  font-size: 13px;
}

.modal-title {
  font-size: 18px !important;
}

.form-row {
  font-size: 16px;
}

.form-select {
  font-size: 14px !important;
}

textarea,
input {
  font-size: 14px !important;
}
.view-feedback-detail {
  font-size: 11px;
  text-decoration: none;
  color: white;
}

/* rating */
.rating {
  display: inline-block;
  position: relative;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
}

.rating input {
  display: none;
}

.rating label {
  color: #ddd;
  float: right;
}

.rating label:before {
  content: "\2605";
  margin-right: 5px;
}

.rating input:checked ~ label {
  color: #ffcc00;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffcc00;
}

.card {
  padding: 0;
}

.card-wrapper {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card-body {
  padding: 10px 20px;
}
/* Detail feedback */
.form-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-add-feedback {
  width: 100%;
}

.hr-custom {
  border: 0;
  height: 2px !important;
  background-image: linear-gradient(
    to right,
    #f0f0f0,
    #00b9ff,
    #59d941,
    #f0f0f0
  );
}

.feedback-detail {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 480px;
  margin-bottom: 30px;
}

.feedback-detail::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.feedback-detail::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.feedback-detail::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#4d9c41),
    to(#19911d),
    color-stop(0.6, #54de5d)
  );
}

.btn-action {
  font-size: 14px;
  margin: 0 2px;
}

.title-wrapper {
  position: relative;
  height: 38px;
}

.back-btn {
  position: absolute;
  font-size: 32px;
  margin-top: 2px;
  opacity: 0.6;
}

.back-btn:hover {
  opacity: 1;
}

.check-star {
  display: none;
}

.title-no-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feedback-title {
  font-size: 18px;
}

.login-require {
  font-size: 14px !important;
}

hr:last-child {
  opacity: 0;
}

/* Reponsive */
@media screen and (max-width: 992px) {
  .back-btn {
    position: inherit !important;
  }
}
