.list-link {
}

.link-item {
  color: #000000 !important;
  text-decoration: none;
  margin: 0px 23px;
  font-size: 15px;
  opacity: 0.7;
}

.link-item:hover {
  opacity: 0.9;
  font-weight: 500;
  /* text-transform: uppercase; */
}

.footer-wrap {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.copyright {
  font-size: 13px;
  opacity: 0.7;
  margin-top: 2px;
}

.social-item {
  text-decoration: none;
  color: #000000 !important;
  font-size: 19px;
  float: right;
  padding: 0 10px;
  opacity: 0.5;
  margin-bottom: 3px;
}

.social-item:hover {
  opacity: 0.9;
}
