.navbar {
  background-color: #fff;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1rem rgb(0 0 0 / 15%) !important;
  z-index: 1000;
}

.header__nav {
  min-height: 60px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav--logo {
  width: 60px;
  height: 60px;
}

.img {
  width: 80%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

/* List nav */
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #0b0b0b29;
}

.header__list--nav {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__list--item {
  position: relative;
}

.header__list--item::before {
  content: "";
  display: block;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  height: 30%;
  position: absolute;
  border-right: 2px solid #240404;
}

.header__item--link {
  display: block;
  text-decoration: none;
  font-weight: 600;
  padding: 12px 20px;
  font-size: 14px;
  color: #3e4bffa4;
}

/* authentication */

.authentication {
  margin-left: 24px;
}

.authentication .login {
  font-size: 14px;
  color: #383838;
  text-decoration: none;
  font-weight: 600;
}

/* menu__user */
.authentication .user {
  position: relative;
  font-size: 14px;
  color: #383838;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon-down {
  color: #383838;
  padding: 12px 16px;
  cursor: pointer;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-down::after {
  display: block;
  content: "";
  width: 100%;
  height: 40px;
  position: absolute;
  top: calc(100% - 4px);
  right: 0;
  display: none;
}

.icon-down:hover::after {
  display: block;
}

.icon-down i {
  transition: all 0.3s linear;
}

.icon-down:hover i {
  transform: translateY(4px);
}

.menu__user {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #0000003d;
  position: absolute;
  background-color: #fff;
  min-width: 184px;
  top: calc(100% - 10px);
  box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
  right: 0;
  z-index: 10;
  display: none;
  animation: showOpacity 0.3s linear forwards;
}

@keyframes showOpacity {
  0% {
    opacity: 0;
    top: calc(100% - 10px);
  }
  100% {
    top: calc(100% + 4px);
    opacity: 1;
  }
}

.icon-down:hover .menu__user {
  display: block;
}

.menu__user--item {
  padding: 8px 16px;
  color: #000;
  transition: all 0.2s linear;
  text-decoration: none;
  display: block;
}

.menu__user--item:last-child {
  border-top: 1px solid #000;
}

.menu__user--item:hover {
  background-color: #0000008f;
  cursor: pointer;
  color: #fff;
}
