#main {
  padding-top: 98px;
  padding-bottom: 20px;
  background-color: #fafafa;
  min-height: 100vh;
}

.card {
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #00000063;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.card__image {
  position: relative;
}

.card__image::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000006c;
  z-index: 200;
}

.card__price {
  padding: 6px 20px 0 20px;
  font-size: 14px;
}

.card__price--hightlight {
  color: #ff6700;
  font-weight: 500;
}

.card__image img {
  width: 100%;
  object-fit: cover;
  object-position: bottom center;
  height: 158px;
}

.card__title {
  position: absolute;
  bottom: 10px;
  left: 20px;
  z-index: 300;
}

.title {
  font-size: 22px;
  padding: 10px 0;
  margin-bottom: 20px;
  font-weight: 600;
}

.title__name {
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.card-icon i {
  font-size: 14px;
  color: #000;
  padding-right: 2px;
}

.card__address {
  padding: 10px 20px 0 20px;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
  min-height: 64px;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* số dòng tối đa hiển thị */
  -webkit-box-orient: vertical;
}

.card__address span {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.7;
}

.star {
  padding-top: 10px;
}

.star-item {
  font-size: 10px;
  color: #ff6700;
}
.card__book {
  padding: 12px 20px 12px 20px;
}

.yard {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  border-left: 3px solid #ff6700;
  border-top: 1px solid #ff6700;
  display: block;
  line-height: 24px;
  padding: 0 20px 0 10px;
}

.yard span i {
  font-size: 14px;
  padding-right: 2px;
}
